doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title="Vanilla Javascript Carousel"
		link(rel="stylesheet" href="carousel.css")

	body
		section
			div#carousel.js-Carousel
				ul
					- var i = 1;
					while i < 5
						li: img(src="../img/nature-" + i++ + ".jpg" alt="")

		script(src="carousel.min.js")
		script.
			var carousel = new Carousel({
				elem: 'carousel',
				dots: true,
				arrows: true,
				buttons: true,
				autoplay: true
			});